<h2>Avatar Builder (Data Test)</h2>
<ul>
    <h4>User Avatar Type: {{userAvatarType}}</h4>
    <h4>Accessories:</h4>
    
  <li *ngFor="let accessory of userAccessoryCollection" class="md-4 accessory">
    <h3><strong>Accessory ID:</strong> {{accessory.id}}</h3>
    <h3><strong>Accessory Type:</strong> {{accessory.type}}</h3>
    <h3><strong>Accessory Name:</strong> {{accessory.name}}</h3>
    <h3><strong>Accessory Node:</strong> {{accessory.node}}</h3>
    <h3><strong>Accessory Model:</strong> {{accessory.model.fbx}}</h3>
  </li>
</ul>
